<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Name', 'Files', 'Imports', 'Top', 'LoC'],
        {{ range .Packages }}
        ['{{.Base}}', {{.Files}}, {{.Imports}}, '{{.Top}}', {{.Lines}}],
        {{- end }}
      ]);

      var options = {
        title: 'Correlation between number of imports, file count ' +
               'and line count of Go packages',
        hAxis: {
          title: 'Files',
          logScale: true,
          gridlines: {
            count: 0,
          },
          viewWindow: {
            min: 0.8,
            max: {{ .HMax }},
          },
          baselineColor: '#eee',
        },
        vAxis: {
          title: 'Imports',
          gridlines: {
            count: 0,
          },
          viewWindow: {
            min: -0.5,
            max: {{ .VMax }},
          },
         scaleType: 'mirrorLog',
         baselineColor: '#eee',

        },
        bubble: {
          textStyle: {
            auraColor: 'none',
          },
        },
        sizeAxis: {
          maxSize: {{ .SizeMax }},
        },
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('noAura'));

      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="noAura" style="width: 1480px; height: 1024px;"></div>
</body>
</html>